.left {
    display: flex;
    width: 30vw;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Stack Sans Text", sans-serif;
    margin: 10%;
}

.right {
    display: flex;
    width: 30vw;
}
.top {
    display: flex;
    width: 50vw;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.bottom {
    display: flex;
    height:100%;
    flex-direction: row;
}
#dates {
    cursor: pointer;
}
.date-item:hover {
    color: #cecece;
    transition: 0.3s;
}

select{
    cursor: pointer;
}
footer {
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    z-index: 1000;
  }
@media screen and (max-width: 600px) {
    .left, .right {
        width: 50vw;
        height: 160%;
    }
    .top {
        display: flex;
        width: 100vw;
        height: 15vw;
        padding-left: 40vw;
    }
    .left {
        margin-left: 23px;;
    }
    select{
        width: 20%;
    }
}